.container {
    display: flex;
    height: calc(100vh - 6.5rem);

    background-color: #fff;
    border-top: solid 1px #707070;
    @media only screen and (min-width: 1000px) {
        border: solid 1px #707070;
        height: 81.7vh;
    }
    padding-bottom: 0;
}

// left container
.container__left {
    display: flex;
    flex-direction: column;
    border-right: none;
    flex-basis: 100%;

    @media only screen and (min-width: 1000px) {
        border-right: solid 1px #707070;
        flex-basis: 25rem;
    }
}

.search {
    @media only screen and (min-width: 1000px) {
        border-bottom: solid 1px #707070;
        // min-height: 6.35rem;
    }
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 1.875rem;
}

.conversation__list {
    overflow-y: auto;
}

// Right container

.container__right {
    width: 100%;
    display: flex;
    flex-direction: column;
}

.project {
    display: flex;
    justify-content: space-between;
    align-items: baseline;
    flex-wrap: wrap;
    border-bottom: solid 1px #707070;

    @media only screen and (min-width: 1000px) {
        // min-height: 6.35rem;
    }
    padding: 1.875rem;
}

.project__title {
    margin: 0;
    font-size: 1rem;
    margin-right:2rem;

   
}

.project__header{
    display: flex;
    align-items: center;
}

.project__header__arrow {
    margin-right: 1rem;
    margin-bottom: 0;
    font-size: 1.3rem;
}

.project__actions {
    margin-top: 1.875rem;
    @media only screen and (min-width: 1000px) {
        margin-top: 0;
    }
}

.messages__container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100%;
    background-color: #e9eaf2;
    overflow-y: auto;
}
