.container {
    min-height: 100vh;
}

/* sider */

.logo {
    color: white;
    display: flex;
    justify-content: center;
    align-items: flex-end;
    margin: 0;
}

.logo > p {
    font-size: 1.5rem;
    margin: 0.84rem 0;
}

.empty__logo {
    height: 4rem;
}

/* -------------------------------------------------------------------------------  */

.header {
    background-color: white;
    padding: 0 1.25rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

/* header */
// .header {
//
// }

.drawer {
    :global {
        .ant-drawer-body {
            padding: 0;
        }
    }
}

.avatar {
    font-size: 1.5rem;
}

.menu__outlined {
    font-size: 1.4rem;
}

/* content */

.content {
    margin: 2.5rem 0;
    margin-bottom: 0;
}

@media only screen and (min-width: 1000px) {
    .content {
        margin: 2.5rem;
    }

    .header {
        padding: 0 2.3rem;
    }
}
